apiVersion: apps/v1
kind: Deployment
metadata:
  name: test-nginx
  namespace: chaos-mesh
spec:
  replicas: 3
  selector:
    matchLabels:
      app: test-nginx
  template:
    metadata:
      labels:
        app: test-nginx
    spec:
      containers:
      - name: nginx
        image: nginx:stable
        ports:
        - containerPort: 80
