apiVersion: v1
kind: Service
metadata:
  name: test-nginx
  namespace: chaos-mesh
spec:
  selector:
    app: test-nginx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: NodePort
